##EDA - Exploratory Data analysis

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('https://query.data.world/s/srgmggc27wsevjcgo3idzko6scwls3')
df1.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Those who are getting SSL certification Error, may run this code:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

In [5]:
df2 = pd.read_csv('https://query.data.world/s/mcnmncx7l5q4clmnqwl27lmeg4nvql')
df2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

data understanding

In [7]:
#check duplicates

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [10]:
df1.value_counts()

Name                          Platform  Year_of_Release  Genre         Publisher              NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  Critic_Score  Critic_Count  User_Score  User_Count  Developer           Rating
 Tales of Xillia 2            PS3       2012.0           Role-Playing  Namco Bandai Games     0.20      0.12      0.45      0.07         0.84          71.0          59.0          7.9         216.0       Bandai Namco Games  T         1
Reign of Fire                 GC        2002.0           Shooter       BAM! Entertainment     0.08      0.02      0.00      0.00         0.11          54.0          9.0           5.9         7.0         Kuju Entertainment  T         1
RedCard 20-03                 PS2       2002.0           Sports        Midway Games           0.03      0.03      0.00      0.01         0.07          73.0          19.0          9           6.0         Midway              E         1
                              GC        2002.0           Sports        Midway Games           0.02      0.00      0.00      0.00         0.02          71.0          11.0          7.4         5.0         Point of View       E         1
Red Steel 2                   Wii       2010.0           Shooter       Ubisoft                0.35      0.20      0.01      0.06         0.62          80.0          73.0          8.6         178.0       Ubisoft Paris       T         1
                                                                                                                                                                                                                                        ..
Guilty Gear Judgment          PSP       2006.0           Fighting      Majesco Entertainment  0.13      0.00      0.02      0.01         0.16          77.0          17.0          6.6         8.0         Arc System Works    T         1
Guilty Gear Isuka             PS2       2004.0           Fighting      505 Games              0.05      0.04      0.00      0.01         0.10          73.0          39.0          7.5         13.0        Arc System Works    T         1
Guilty Gear Dust Strikers     DS        2006.0           Fighting      Majesco Entertainment  0.05      0.00      0.00      0.00         0.05          60.0          25.0          5.8         9.0         Arc System Works    T         1
Guild Wars: Nightfall         PC        2006.0           Role-Playing  NCSoft                 0.00      0.02      0.00      0.00         0.03          84.0          30.0          8.7         104.0       ArenaNet            T         1
uDraw Studio: Instant Artist  X360      2011.0           Misc          THQ                    0.01      0.01      0.00      0.00         0.02          54.0          5.0           5.7         6.0         THQ                 E         1
Length: 6825, dtype: int64

In [11]:
df1.duplicated().sum()

0

In [12]:
df2.duplicated().sum()

0

In [13]:
## DATA type correction

In [ ]:
#check df1 for incorrect datatype

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [18]:
df1.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

#year of release need to be in integer/obj
#critic count needs to be in integer
#user_score -> float
#user_count -> integer

In [ ]:
#correcting the datatype of the following column

In [27]:
df1['Year_of_Realease'].astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
#so first check the  missing value to get rid of this error

In [30]:
df1['Year_of_Realease']= df1['Year_of_Release'].astype('Int64')

In [31]:
df1['Year_of_Realease'].dtypes

Int64Dtype()

In [33]:
df1.Critic_Count=df1.Critic_Count.astype('Int64')

In [34]:
df1.Critic_Count.dtypes

Int64Dtype()

In [35]:
df1.User_Score = df1.User_Score.astype('float')

ValueError: could not convert string to float: 'tbd'

In [ ]:
the reason the score has been loaded as object beacause it contains non numeric values 
:tbd(to be declared)
    - 1:tbd:NaN
    -2: pd.to_numeric()  -> convert obj type column (should be loaded as int/float) to int /float

In [36]:
df1.User_Count= df1.User_Count.astype('Int64')

In [37]:
df1.User_Count.dtypes

Int64Dtype()

int64 -> general integer



Int64 -> nullable integer type

In [ ]:
pd.to_numeric

In [38]:
df1.User_Score = pd.to_numeric(df1.User_Score ,errors = 'coerce')

# coerce changes it to NaN values

In [39]:
df1.User_Score.dtypes

dtype('float64')

In [40]:
df1.dtypes

Name                 object
Platform             object
Year_of_Release     float64
Genre                object
Publisher            object
NA_Sales            float64
EU_Sales            float64
JP_Sales            float64
Other_Sales         float64
Global_Sales        float64
Critic_Score        float64
Critic_Count          Int64
User_Score          float64
User_Count            Int64
Developer            object
Rating               object
Year_of_Realease      Int64
dtype: object

In [42]:
df2.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [43]:
df2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [46]:
df2.TotalCharges = df2.TotalCharges.astype('float')

In [47]:
df2.TotalCharges = pd.to_numeric(df2.TotalCharges ,errors ='coerce')

In [45]:
df2.TotalCharges.dtypes

dtype('float64')